@import "tailwindcss";

@font-face {
  font-family: 'Cakecafe';
  src: url('@/public/fonts/Cakecafe.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Comic Sans MS';
}
