@import "tailwindcss";



html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Cakecafe';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('@/assets/fonts/Cakecafe.ttf') format('ttf');
}


body{
  font-family: ' Cakecafe', 'Comic Sans MS';
}

::-webkit-scrollbar {
    width: .8rem;
    
  }
  
::-webkit-scrollbar-thumb {
    content: "";
    width: 15px;
    height: 135px;
    opacity: 0.4;
    background: #888;
    position: absolute;
    top: 5px;
    right: -17px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    cursor: grab;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555;    
    opacity: 0.6;
  }

::-webkit-scrollbar-thumb:active:hover {
    background: #555;    
    opacity: 0.6;          
    cursor: grabbing;
  }
